*{
    margin: auto;
}

body{
    margin: 0;
}

.container{
    width: 100%;
    max-width: 1280px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: flex;
    gap: 14px;
    align-items: center;
}

.navbar{
    display: flex;
    gap: 30px;
}

.blockWrapper{
    margin-top: 500px;
    margin-bottom: 500px;
    display: flex;
    border: 1px solid;
}

.block{
    width: 400px;
    height: 400px;
    background-color: blueviolet;
    color: white;
    font-size: 48px;
}
.block:hover{
    background-color: orange;
}
button{
    /* background-color: orange; */
    /* border: none; */
    border-radius: 8px;
    padding: 8px 16px;
    background-color: transparent;
    /* color: white; */
    /* border: 1px solid white */
}
