*{
    margin: auto;
}

body{
    margin: 0;
}

.container{
    width: 100%;
    max-width: 1280px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: flex;
    gap: 14px;
    align-items: center;
}

.navbar{
    display: flex;
    gap: 30px;
}

.blockWrapper{
    margin: 500px;
    display: flex;
    border: 1px solid;
}